$text-1: #202F10;
$text-2: #4E4035;
$bg-1: #A4C392;
$bg-2: #F8DFB8;
$acsent-1: #FF6933;
$acsent-2: #E83100;
$grad: linear-gradient(90deg, #FE885E 0%, #E83100 100%);

%shadow {
    box-shadow: 6px 6px 20px 0px #253812;
}